<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>这是我的第一个 Thymeleaf 模板</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- 可选的Bootstrap主题文件（一般不使用） -->
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">One more separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div> <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
        <h1 th:text="'HELLO，'+${name}+'!!!'">默认姓名</h1>

        <!-- 查询区域 -->
        <div class="am-g am-u-sm-centered" style="width:600px;margin-top:50px;">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-radius" placeholder="请输入关键字" id="keyword">
            </div>
            <button type="submit" class="am-btn am-btn-success" onclick="search()">查询</button>
        </div>

        <input type="hidden" id="hidSelectedPK" />

        <button type="submit" class="am-btn am-btn-success" onclick="search()">@Html.ActionLink("新增", "Create")</button>

        <!-- 分页表格结构 -->
        <div class="panel-body" id="sticky-pager-panel">
            <div id="sticky-page-header"></div>
            <div id="sticky-table-body"></div>
            <div id="sticky-page-footer"></div>
        </div>

        <!-- 模态窗口 -->
        <button type="button"
                id="btnShowFunctionMenu"
                style="display:none;"
                data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 550, height: 225}"></button>
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
            <div class="am-modal-dialog">
                <div class="am-modal-bd">
                    <button type="button" class="am-btn am-btn-default am-btn-block am-btn-xl" onclick="EditUser()">编辑</button>
                    <button type="button" class="am-btn am-btn-default am-btn-block am-btn-xl" onclick="FrozenUser()">停用</button>
                    <button type="button" class="am-btn am-btn-default am-btn-block am-btn-xl" onclick="DeleteUser()">删除</button>
                    <button type="button" class="am-btn am-btn-default am-btn-block am-btn-xl" data-am-modal-close>退出</button>
                </div>
            </div>
        </div>

    </body>

</html>

<script>
    //初始化表格
    //var pagerUserFun = $("#sticky-pager-panel").orca_pager_init({
    //    elements: {
    //        header: $("#sticky-page-header"),
    //        footer: $("#sticky-page-footer")
    //    },
    //    url: "/User/GetUser",
    //    postdata: function () {
    //        return {
    //            keyword: $("#keyword").val(),      //关键字
    //            type: "1",
    //            oResult: $("#oResult").val(),       //状态条件
    //        };
    //    },
    //    onupdate: function (data) {
    //        orca_sticky_table(
    //            $("#sticky-table-body"),
    //            {
    //                data: data,
    //                stickyable_columns_count: 1,
    //                columns: [
    //                    { title: "用户PK", align: 'center', field: 'PK' }
    //                , { title: "UserId", field: 'USERID' }
    //                , { title: "邮箱", field: 'EMAIL' }
    //                , { title: "生日", field: 'birthday' }
    //                , {
    //                    title: "管理", align: 'center',
    //                    render: function (row, index) {
    //                                return "<a class='btn btn-default' " +
    //                                "onclick='SendFunctionMenu(" + row.PK + ");' role='button'>" + "管理" + "</a></div>";
    //                            }
    //                    }
    //                ]
    //            });
    //    }
    //});
    //function EditUser(pk){
    //    location.href = "/User/Details?id=" + $("#hidSelectedPK").val();
    //}
    //function SendFunctionMenu(pk) {
    //    $("#hidSelectedPK").val(pk);
    //    $("#btnShowFunctionMenu").click();
    //}
    //function search() {
    //    pagerUserFun.orca_pager_update(0);
    //}
</script>